---
import SocialLinks from "../components/SocialLinks.astro";
import ContentSection from "../components/ContentSection.astro";
import profilePic from "../assets/profilepic.jpg";
import Layout from "../layouts/Layout.astro";
---

<!-- Only run the animations a single time on app load -->
<script is:inline>
if (window.__introAnimationPlayed) {
	document.querySelectorAll(".animate-in").forEach((el) => {
		el.style.animation = "none";
		el.style.opacity = "1";
		el.style.transform = "none";
	});
} else {
	window.__introAnimationPlayed = true;
}
</script>

<Layout>
	<ContentSection as="section" gap={8} class="text-sm">
		<img
			class="rounded-full size-60 animate-in fade-in slide-in-from-bottom
		duration-1000 ease-out fill-mode-both"
			src={profilePic.src}
			alt="profile"
		>
		<div
			class="flex gap-3 animate-in fade-in ease-out duration-1500 delay-800 fill-mode-both"
		>
			<SocialLinks />
		</div>
		<article class="flex flex-col gap-4">
			<p
				class="animate-in fade-in slide-in-from-bottom
		duration-1000 ease-out fill-mode-both text-lg delay-300"
			>
				Hi! I'm Jared Delapasse.
			</p>
			<p
				class="animate-in fade-in slide-in-from-bottom
		duration-1000 ease-out fill-mode-both text-lg delay-500"
			>
				I'm a software engineer with a current focus on frontend. I made this
				site to keep track of projects I'm working on (both programming related
				and not), act a personal book club for interesting programming books,
				and share my ever-evolving development workflow
			</p>
		</article>
	</ContentSection>
</Layout>
