---
import compilerCover from "../assets/compiler-cover.jpg";
import ddia from "../assets/ddia-cover.jpeg";
import interpreterCover from "../assets/interpreter-cover.jpg";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<article class="flex flex-col gap-3 items-center">
		<h3 class="self-start text-xl font-bold underline underline-offset-4">
			Completed:
		</h3>
		<img class="size-60 " src={interpreterCover.src}>
		<p>
			This book walks you through the creation of an interpreter for an
			imaginary programming language. It is very basic, and syntactially looks
			similar to your more basic scripting languages.
		</p>
		<p>
			It helped me gain an even deeper understanding of various javascript
			concepts that I had previously considered myself to have understood well.
			Things like closures and higher order functions become much clearer and
			seem almost natural when you have implemented them. It walks through the
			creation of a lexer to convert programs into tokens, a parser to create
			the abstract syntaxs tree, and an evaluator that traverses the tree to
			return a result.
		</p>

		<h3 class="self-start text-xl font-bold underline underline-offset-4">
			Currently Reading:
		</h3>
		<img class="size-60" src={compilerCover.src}>
		<p>
			A sequel to the interpreter book and goes a bit further and walks through
			the process of setting up of using a compiler rather than an evaluator to
			traverse the AST. It extends the previously constructed interpreter to
			include the production of bytecode, as well as constructing a minimal
			virtual machine to execute the bytecode.
		</p>
		<h3 class="self-start text-xl underline underline-offset-4">Next up...</h3>

		<img class="size-60" src={ddia.src}>
		<p>
			With LLMs becoming a more integrated piece of development workflows, the
			primary role of a software engineer is becoming less about writing code
			and evolving more towards an emphasis on developing fault-tolerant,
			scalable systems. This book comes highly recommended by many experienced
			software developers online and I'm looking forward to gaining more insight
			to working with data on a mass scale.
		</p>
	</article>
</Layout>
