---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<article>
		<div>This site was made using the astro framework</div>
		<ul>
			<li>Bun</li>
			<li>Biome</li>
			<li>Astro</li>
			<li>React (UI Components)</li>
			<li>Tailwind</li>
		</ul>
	</article>
</Layout>
