---
interface Props {
	title: string;
	description: string;
	page: string;
	prefix: string;
}

const { title = "", description = "", page = "", prefix = "" } = Astro.props;
---

<li>
	<a
		href={`/${prefix}/${page}`}
		class="group hover:text-alt active:text-alt transition-all duration-500"
	>
		<section
			class="border-b border-b-gray-600 group-hover:border-b-alt group-active:border-b-alt transition-all duration-500"
		>
			<h2 class="text-xl">{title}</h2>
		</section>
		<p class="text-muted-foreground mt-1">
			{description}
		</p>
	</a>
</li>
