---
import { Github, Linkedin, Mail } from "lucide-react";
---

<div class="flex gap-3">
	<a
		href="https://www.linkedin.com/in/jareddelapasse/"
		target="_blank"
		class="hover:text-alt transition-colors duration-300"
	>
		<Linkedin class="cursor-pointer" />
	</a>
	<a
		href="https://github.com/jdela22"
		target="_blank"
		class="hover:text-alt transition-colors duration-300"
	>
		<Github class="cursor-pointer" />
	</a>
	<a
		href="mailto:jareddelapasse@gmail.com"
		class="hover:text-alt transition-colors duration-300"
	>
		<Mail class="cursor-pointer" />
	</a>
</div>
