---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout>
	<article class="flex flex-col gap-3">
		<section class="flex justify-center">
			<a href={frontmatter.info} target="_blank">
				<img src={frontmatter.heroImage} alt="hero" class="w-60 h-72">
			</a>
		</section>
		<p><slot /></p>
	</article>
</Layout>
